.custom-scrollbar::-webkit-scrollbar {
	width: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
	background: rgba(55,65,81,255); 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(84,51,132,255); 
	border-radius: 5px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgba(84,51,132,255); 
  }